<template name="home">
	<div id="page_home" class="page">
		{{> search_form}}
		{{> advanced_search_form}}
		<div id="results-container">
	        <div id="results-output">
	        	{{#each datasets}}
	        		{{> item}}
	        	{{/each}}
	        </div>
        </div>
	</div>
</template>

<template name="item">
	<div class="box">
		{{#if object}}
			{{{object}}}<br/>
		{{/if}}
		<h3>{{title}}</h3>
		<ul>
			{{#if description}}
				<li><strong>Descrition:</strong> {{{description}}}</li>
			{{/if}}
			<li><strong>Creator:</strong> {{author}}</li>
			<li><strong>Provided By:</strong> {{dataProvider}}</li>
			<li><strong>Date Published/Printed:</strong> {{date}}</li>
			<li><strong>Type:</strong> {{type}}</li>
		</ul>
	</div>
</template>

<template name="search_form">
	<form id="search-form" parsley-validate>
		<input id="search_term_any" class="type_text" type="search" name="search_term_any" placeholder="Search Terms" required />
		<input class="button" type="submit" name="submit" value="Search" />
	</form>
</template>

<template name="advanced_search_form_search_field">
		<label for="search_term_{{id}}">{{title}}</label>
		<input id="search_term_{{id}}" class="type_text" type="search" name="search_term_{{id}}" placeholder="Search Terms" />
		<input id="search_term_and_{{id}}" class="type_radio" type="radio" name="search_term_join_{{id}}" value="and" checked />
		<label for="search_term_and_{{id}}">AND</label>
		<input id="search_term_or_{{id}}" class="type_radio" type="radio" name="search_term_join_{{id}}" value="or" />
		<label for="search_term_or_{{id}}">OR</label>
</template>

<template name="advanced_search_form">
	<form id="advanced-search-form" parsley-validate>
		{{#each advanced_search_fields}}
			{{> advanced_search_form_search_field}}<br/>
		{{/each}}
		<fieldset class="asf-types-checkboxes">
			<legend>Document Types</legend>
			<input id="asf-types-images" class="type_checkbox" type="checkbox" name="asf-types-images" checked />
			<label for="asf-types-images">Images</label>
			<input id="asf-types-text" class="type_checkbox" type="checkbox" name="asf-types-text" checked />
			<label for="asf-types-text">Text</label>
			<input id="asf-types-sounds" class="type_checkbox" type="checkbox" name="asf-types-sounds" checked />
			<label for="asf-types-sounds">Sounds</label>
			<input id="asf-types-videos" class="type_checkbox" type="checkbox" name="asf-types-videos" checked />
			<label for="asf-types-videos">Videos</label>
		</fieldset>
		<label for="search_term_after_date">After</label>
		<input id="search_term_after_date" class="type_text" type="date" name="search_term_after_date" placeholder="Date" />
		<label for="search_term_before_date">Before</label>
		<input id="search_term_before_date" class="type_text" type="date" name="search_term_before_date" placeholder="Date" />
		<br/>
		<input class="button" type="submit" name="submit" value="Search" />
	</form>
</template>

<template name="result_item">
	<div class="box">
		<h3>Gifts and Special Offers</h3>
		<ul>
			<li>Some text</li>
			<li>Some text</li>
			<li>Some text</li>
		</ul>
	</div>
</template>
